table.one{
	width:500px;
	background:#98FB98;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 400px;

}

div.zhuce{
	width:500px;
	background:#98FB98;
	padding: 0px 0px 0px 434px;
	margin:0px 0px 0px 400px;

}

div.fanhui{
	width:500px;
	background:#98FB98;
	padding: 0px 0px 0px 449px;
	margin:0px 0px 0px 400px;

}
